extends layout

block content
  // Page header
  div(class='page-header')
    h1 Ajax Demo
      small   Fetch data without ajax
  // Carousel
  div(id='carousel-example-generic', class='carousel slide')
    // Indicators
    ol(class='carousel-indicators')
      li(class='active', data-target='#carousel-example-generic', data-slide-to='0')
      li(data-target='#carousel-example-generic', data-slide-to='1')
      li(data-target='#carousel-example-generic', data-slide-to='2')
    // Wrapper for slides
    div(class='carousel-inner')
      div(class='item active')
        img(src='/images/slide1.png', alt='slide1')
      div(class='item')
        img(src='/images/slide2.png', alt='slide2')
      div(class='item')
        img(src='/images/slide3.png', alt='slide3')
    // Controls
    a(class='left carousel-control', href='#carousel-example-generic', data-slide='prev')
      span(class='icon-prev')
    a(class='right carousel-control', href='#carousel-example-generic', data-slide='next')
      span(class='icon-next')
  br
  br
  // Table panel
  div(class='panel panel-default')
    div(class='panel-heading') User information
    div(class='panel-body')
      p blabla...blabla...blabla...blabla...blabla...blabla...banana
    table(class='table')
      thead
        tr
          th #
          th First Name
          th Last Name
          th ID
      tbody
        - for(var i = 0; i < users.length; ++i)
          tr
            td= i + 1
            td= users[i].firstName
            td= users[i].lastName
            td= users[i].ID
  // Pagination
  div(id='page')
    ul(class='pagination')
      if (pages.current == 1)
        li(class='disabled')
          a &laquo;
      else
        li
          a(href= query + '?page=' + (pages.current - 1)) &laquo;
      - for(var i = 1; i <= pages.total; ++i)
          li(class=(pages.current == i) ? 'active' : '')
            a(href= query + '?page=' + i)= i
      if (pages.current == pages.total)
        li(class='disabled')
          a &raquo;
      else
        li
          a(href= query + '?page=' + (pages.current + 1)) &raquo;
